/ {
    
    imu_pwr: imu-pwr {
		compatible = "regulator-fixed";
		regulator-name = "imu-pwr";
		enable-gpios = <&gpiod 5 GPIO_ACTIVE_HIGH>;
		regulator-boot-on;
        regulator-always-on;
		startup-delay-us = <5000>;
	};

    aliases {
        imu0 = &lsm6ds3tr;
    };
};

&i2c0 {
    status = "okay";
    pinctrl-0 = <&i2c0_default>;
    pinctrl-names = "default";
    clock-frequency = <I2C_BITRATE_FAST>; /* 400 kHz */

    lsm6ds3tr: lsm6dsl@6a {
        compatible = "st,lsm6dsl";
        reg = <0x6a>;
        status = "okay";

        /* Optional: if you wired interrupt pin */
        /* int1-gpios = <&gpioX Y GPIO_ACTIVE_HIGH>; */
    };
};

&pinctrl {
	i2c0_default: i2c0_default {
		group0 {
			pins = <I2C0_SDA_PB2>, <I2C0_SCL_PB3>;
			drive-open-drain;
			bias-pull-up;
		};
	};

	i2c1_default: i2c1_default {
		group0 {
			pins = <I2C1_SDA_PC5>, <I2C1_SCL_PC4>;
			drive-open-drain;
			bias-pull-up;
		};
	};
};